---
import ProductImageListItem from './ProductImageListItem.astro';

const imageThumbnailSources = [
  '/src/assets/images/image-product-1-thumbnail.jpg',
  '/src/assets/images/image-product-2-thumbnail.jpg',
  '/src/assets/images/image-product-3-thumbnail.jpg',
  '/src/assets/images/image-product-4-thumbnail.jpg',
];

const { mainImageId, listItemClassNames } = Astro.props;
---

<style>
  .product-item-list {
    display: flex;
    justify-content: center;
    gap: 2rem;

    width: 100%;
  }
</style>

<div
  class='product-item-list'
  data-main-image-id={mainImageId}>
  <ProductImageListItem
    active='true'
    imageSource={imageThumbnailSources[0]}
    className={listItemClassNames}
  />

  <ProductImageListItem
    active='false'
    imageSource={imageThumbnailSources[1]}
    className={listItemClassNames}
  />

  <ProductImageListItem
    active='false'
    imageSource={imageThumbnailSources[2]}
    className={listItemClassNames}
  />

  <ProductImageListItem
    active='false'
    imageSource={imageThumbnailSources[3]}
    className={listItemClassNames}
  />
</div>

<script defer define:vars={{ mainImageId, listItemClassNames }}>
  const listItems = document.querySelectorAll(`.${listItemClassNames}`);
  const mainImage = document.getElementById(mainImageId);

  const imageMainSources = [
    '/src/assets/images/image-product-1.jpg',
    '/src/assets/images/image-product-2.jpg',
    '/src/assets/images/image-product-3.jpg',
    '/src/assets/images/image-product-4.jpg',
  ];

  let lastActiveItem = listItems[0];

  function setMainImage(source) {
    mainImage.src = source;
  }

  function getIndexOfItem(target) {
    let index = 0;

    for (let i = 0; i < listItems.length; i++) {
      if (listItems[i] === target) {
        index = i;
        break;
      }
    }

    return index;
  }

  function handleOnItemClick(item) {
    lastActiveItem.setAttribute('data-active', 'false');
    item.setAttribute('data-active', 'true');
    lastActiveItem = item;
    let index = getIndexOfItem(lastActiveItem);
    setMainImage(imageMainSources[index]);
  }

  listItems.forEach((item) => {
    item.addEventListener('click', () => handleOnItemClick(item));
  });
</script>
