---
import ProductImageListItem from './ProductImageListItem.astro';

const imageThumbnailSources = [
  '/src/assets/images/image-product-1-thumbnail.jpg',
  '/src/assets/images/image-product-2-thumbnail.jpg',
  '/src/assets/images/image-product-3-thumbnail.jpg',
  '/src/assets/images/image-product-4-thumbnail.jpg',
];

const { mainImageId, listItemClassNames, isOverlay } = Astro.props;
---

<style>
  .product-item-list {
    display: flex;
    justify-content: center;
    gap: 2rem;

    width: 100%;
  }
</style>

<div
  class='product-item-list'
  data-main-image-id={mainImageId}>
  <ProductImageListItem
    active='true'
    imageSource={imageThumbnailSources[0]}
    className={listItemClassNames}
  />

  <ProductImageListItem
    active='false'
    imageSource={imageThumbnailSources[1]}
    className={listItemClassNames}
  />

  <ProductImageListItem
    active='false'
    imageSource={imageThumbnailSources[2]}
    className={listItemClassNames}
  />

  <ProductImageListItem
    active='false'
    imageSource={imageThumbnailSources[3]}
    className={listItemClassNames}
  />
</div>

<script
  is:inline
  type='module'
  defer
  define:vars={{ mainImageId, listItemClassNames, isOverlay }}
>
  import ImagePicker from '/frontend-mentor-ecommerce-product-page/src/scripts/imagePicker.mjs';

  const listItems = document.querySelectorAll(`.${listItemClassNames}`);
  const mainImage = document.getElementById(mainImageId);

  listItems.forEach((item) => {
    item.addEventListener('click', (e) =>
      ImagePicker.handleOnItemClick(listItems, mainImage, e, isOverlay)
    );
  });
</script>
