---
import ProductImageList from './ProductImageList.astro';
import ProductImageMain from './ProductImageMain.astro';

const { mainImageId, listItemNames, isOverlay } = Astro.props;
---

<style define:vars={{ isOverlay }}>
  .product-image-collection {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    min-height: 565px;
    width: 100%;
  }

  .product-image-collection[data-is-overlay='false'] {
    max-width: 445px;
  }

  .product-image-collection[data-is-overlay='true'] {
    max-width: 550px;
    margin-bottom: 4rem;
  }
</style>

<div
  data-is-overlay={isOverlay}
  class='product-image-collection'>
  <ProductImageMain
    mainImageId={mainImageId}
    isOverlay={isOverlay}
    listItemClassNames={listItemNames}
  />
  <ProductImageList
    mainImageId={mainImageId}
    isOverlay={isOverlay}
    listItemClassNames={listItemNames}
  />
</div>
