---
import ProductImageListItem from './ProductImageListItem.astro';

import imgProduct1Thumb from '../../assets/images/image-product-1-thumbnail.jpg';
import imgProduct2Thumb from '../../assets/images/image-product-2-thumbnail.jpg';
import imgProduct3Thumb from '../../assets/images/image-product-3-thumbnail.jpg';
import imgProduct4Thumb from '../../assets/images/image-product-4-thumbnail.jpg';

const imageThumbnailSources = [
  imgProduct1Thumb,
  imgProduct2Thumb,
  imgProduct3Thumb,
  imgProduct4Thumb,
];

const { mainImageId, listItemClassNames, isOverlay } = Astro.props;
---

<style>
  .product-item-list {
    display: flex;
    justify-content: center;
    gap: 2rem;

    width: 100%;
  }
</style>

<div
  class='product-item-list'
  data-main-image-id={mainImageId}>
  <ProductImageListItem
    active='true'
    imageSource={imageThumbnailSources[0]}
    className={listItemClassNames}
  />

  <ProductImageListItem
    active='false'
    imageSource={imageThumbnailSources[1]}
    className={listItemClassNames}
  />

  <ProductImageListItem
    active='false'
    imageSource={imageThumbnailSources[2]}
    className={listItemClassNames}
  />

  <ProductImageListItem
    active='false'
    imageSource={imageThumbnailSources[3]}
    className={listItemClassNames}
  />
</div>

<script
  type='module'
  defer
  define:vars={{ mainImageId, listItemClassNames, isOverlay }}
>
  import { ImagePicker } from '/src/scripts/imagePicker.mjs';

  const listItems = document.querySelectorAll(`.${listItemClassNames}`);
  const mainImage = document.getElementById(mainImageId);

  listItems.forEach((item) => {
    item.addEventListener('click', (e) =>
      ImagePicker.handleOnItemClick(listItems, mainImage, e, isOverlay)
    );
  });
</script>
