---
import ProductImageList from './ProductImageList.astro';
import ProductImageMain from './ProductImageMain.astro';

// const normalMainImageId = 'main-image-normal';
// const normalListItemNames = 'product-item-normal';

const { mainImageId, listItemNames, isOverlay } = Astro.props;
---

<style define:vars={{ isOverlay }}>
  .product-image-collection {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    min-height: 565px;
    width: 100%;
  }

  .product-image-collection[data-is-overlay='false'] {
    max-width: 445px;
  }

  .product-image-collection[data-is-overlay='true'] {
    max-width: 550px;
    min-height: 722px;
  }
</style>

<div
  data-is-overlay={isOverlay}
  class='product-image-collection'>
  <ProductImageMain
    mainImageId={mainImageId}
    isOverlay={isOverlay}
  />
  <ProductImageList
    mainImageId={mainImageId}
    listItemClassNames={listItemNames}
  />
</div>
